.youtube-card{
    background-color:red;
}

.twitter-card{
    background-color:deepskyblue;

}

.google-card{
    background-color:darkblue;

}

.instagram-card{
    background-color:mediumpurple;

}

.card{
    color:white;
}